main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

h2 {
    color: #14213d;
}

.text {

    width: 50%;
    border: 4px dashed #14213d;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 10px;
}

p {
    font-size: 18px;
    font-weight: 500;
    color: #14213d;
}